@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  background-image: url("../src/images/background3.jpg");
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

/* === Navbar === */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
}

.brandImg {
  height: 3.5rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

/* === Header === */

.header {
  margin-top: 7.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* === Jumbotron === */

.jumbotron {
  opacity: 0.87;
}
/* === ARTICLE CARD === */

.card {
  margin: 1rem;
  opacity: 0.87;
}

/* === ARTICLE LIST === */

.articleList {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

/* === ARTICLE PAGE  === */

.articleButton {
  margin: 1rem;
}

/* === COMMENTS LIST === */

.commentList {
  list-style: none;
  padding: 0;
}
.dropdownSort {
  margin: 1rem;
}

/* === ALL ARTICLE PAGE === */

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*  === ADD ARTICLE PAGE === */

/* === ALL TOPICS PAGE === */
.topicsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.addTopicForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 10rem;
  margin-right: 10rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.addTopicButton {
  margin-bottom: 2rem;
}

/* === ALL USERS PAGE */

.usersList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

/* === VOTING === */

.votingComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.voting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.votingDownButton {
  width: 6rem;
  margin-right: 1rem;
}

.votingUpButton {
  width: 6rem;
  margin-left: 1rem;
}
.likes {
  margin: 0;
  padding-top: 0.3rem;
}

.errorPic {
  height: 10rem;
}

.N {
  color: red;
}

.logoutBtn {
  padding: 0;
  color: white;
  border: 0;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
  padding: 0.8rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  padding-bottom: 1rem;
}

.infoButton {
  margin: 1rem;
}

.contactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white !important;
}

.cardInfo {
  margin: 1rem;
  opacity: 0.87;
}

.footer-icon {
  margin: 3% 2%;
  color: white;
}

@media (min-width: 576px) {
  .cardInfo {
    width: 25rem;
  }
}

@media (min-width: 768px) {
  .addArticleForm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .addTopicForm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .addCommentForm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .loginForm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .signInForm {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .cardInfo {
    width: 30rem;
  }
}

@media (min-width: 1200px) {
  .addArticleForm {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .addTopicForm {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .addCommentForm {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .loginForm {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .signInForm {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  .cardInfo {
    width: 40rem;
  }
}
