.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

/* === Navbar === */
/* .navbar {
  color: white;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link .active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
} */

/* === Header === */

.header {
  padding-bottom: 2rem;
}

/* === Footer === */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* ====================================================================== */

/* === HOMEPAGE === */

.homepage {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* === ARTICLE LIST === */

.articleList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
