@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  background-image: url("../src/images/background3.jpg");
  background-position: center;
  background-attachment: fixed;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}

/* === Navbar === */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
}

.brandImg {
  height: 3.5rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

/* === Header === */

.header {
  margin-top: 7.2rem;
  margin-bottom: 1rem;
}

/* === Footer === */

/* footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
} */

/* ====================================================================== */

/* ==================== PAGES ==================== */

/* === HOMEPAGE === */

/* ==================== COMPONENTS ==================== */

/* === Jumbotron === */

.jumbotron {
  opacity: 0.87;
}
/* === ARTICLE CARD === */

.card {
  margin: 1rem;
  opacity: 0.87;
}

/* === ARTICLE LIST === */

.articleList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

/* === ARTICLE PAGE  === */

.articleButton {
  margin: 1rem;
}

/* === COMMENTS LIST === */

.commentList {
  list-style: none;
}
.dropdownSort {
  margin: 1rem;
}
